.og-card {
    border: 1px solid #dadada;
    border-radius: 2px;
    margin-bottom: 10px;
    padding: 8px;
    position: relative;
    height: 140px;
    -webkit-box-shadow: 1px 1px 3px 0px rgba(122, 122, 122, 0.5);
    -moz-box-shadow: 1px 1px 3px 0px rgba(122, 122, 122, 0.5);
    box-shadow: 1px 1px 3px 0px rgba(122, 122, 122, 0.5);
}



.og-card-logo {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 128px;
    height: 128px;
    overflow: hidden;
}

.og-card-logo > img {
    height: 120px;
    width: 120px;
    margin: auto;
    display: block;
}

.og-card-text {
    position: absolute;
    top: 0;
    left: 150px;

}

.og-card-text > h2 {

    color: #808080;
    margin-top: -10px;
}

.highlighted {
    background-color: #cfffec;
}

.testing {
    border: 1px solid deeppink;
}