<!DOCTYPE html>
<!-- App Usually Defined on the HTML Tag -->
<html ng-app="helloApp">
<head lang="en">
  <meta charset="UTF-8">
  <title>Hello Angular</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular-animate.min.js"></script>
  <script src="helloAngular.js"></script>

</head>

<!-- Controllers can be on any element, here it's on the body and that's what we usually do -->

<body ng-controller="mainController">

<h1>Data Binding and Clicks</h1>
<br>

<h2>Hello {{name}}</h2>
<button ng-click="clear()">Clear</button>
<input type="text" ng-model="name" placeholder="Name">
<br>
<button ng-click="clicked()">Dude</button>
<br>

<hr>
<h2>Using ngRepeat {{ shoppingList[0] }}</h2>
<input ng-model="filterVal" type="text" placeholder="filter"/>
<ul>
  <li ng-repeat="item in shoppingList | filter: filterVal | orderBy">{{ item }}</li>
  <!-- Insert code here to show all items in the shopping list and then add a button to delete each item from the list -->
</ul>
  <!-- Insert code here to add an item to the list. Hint: an input box and a button might be good! -->
</body>
</html>