<div class="container">
  <div class="jumbotron">
    <h1>&nbsp;Welcome!</h1>
  </div>
  <div class="row">

      <h3>Popular links</h3>
      <ul>
        <li><a href="#/wineries">Wineries</a></li>
        <li><a href="#/wines">Wines</a></li>
        <li><a href="#/todo">To Do for Ethan</a></li>
      </ul>
      <h3>Fix the links above, <i>using only CSS</i> so that:</h3>
      <ol>
        <li>The list items do not have a dot at the beginning.</li>
        <li>The link color is maroon.</li>
        <li>When the mouse is hovering over the link, the font grows ~4 pts.</li>
        <li>Extra credit: animate the transition when the mouse hovers</li>
      </ol>

  </div>
</div>